snowtricks/.web-server-pid
snowtricks/app/config/parameters.yml
snowtricks/build/
/snowtricks/phpunit.xml
/snowtricks/var/*
/snowtricks/!/var/cache
/snowtricks/var/cache/*
/snowtricks/!var/cache/.gitkeep
/snowtricks/!/var/logs
/snowtricks/var/logs/*
/snowtricks/!var/logs/.gitkeep
/snowtricks/!/var/sessions
/snowtricks/var/sessions/*
/snowtricks!var/sessions/.gitkeep
/snowtricks/!var/SymfonyRequirements.php
/snowtricks/vendor/
/snowtricks/web/bundles/
/snowtricks/app/Resources/assets/
/snowtricks/node_modules/
/snowtricks/web/tricks/
