{% for comment in comments %}
	{% include "STSnowTricksBundle:Comment:comment.html.twig" with { comment : comment } %}
{% else %}
	<p class="text-center">Aucun commentaire n'a encore été publié. N'hésitez pas à lancer le mouvement :)</p>
{% endfor %}