{% trans_default_domain 'FOSUserBundle' %}

<div class="profile row">
	{% include "STCoreBundle:templates:breadcrumbs.html.twig" with { 'links' : {
        'Accueil' : path('st_snowtricks.homepage'),
        'Mon profil' : path('fos_user_profile_show')
    }} %}
	{% include "STUserBundle:templates:profile_show.html.twig" with { 'user': app.user } %}
</div>
