{% extends "STCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} Ajouter un groupe
{% endblock %}

{% block body %}
	<h2>Ajouter un groupe</h2>
	{{ include("STSnowTricksBundle:Family:form.html.twig") }}
{% endblock %}