{% extends "STCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} Modifier {{ family.name }}
{% endblock %}

{% block body %}
	{% include "STCoreBundle:templates:breadcrumbs.html.twig" with { 'links' : {
        'Accueil' : path('st_snowtricks.homepage'),
        'Groupes' : path('st_snowtricks.family_list'),
        (family.name) : path('st_snowtricks.family_view', { id: family.id, slug: family.slug }),
        ('Modifier') : path('st_snowtricks.family_edit', { id : family.id, slug : family.slug })
    }} %}

	<div class="row">
        <div class="col-xs-12 title">
            <h2>
                Modifier le groupe "{{ family.name }}"
            </h2>
        </div>
    </div>
	{{ include("STSnowTricksBundle:Family:form.html.twig") }}
{% endblock %}