{{ form_start(form) }}
    
    <!-- NAME -->
    {{ form_row(form.name) }}

    <!-- DESCRIPTION -->
    {{ form_row(form.description) }}

    <button type="submit" class="btn btn-primary">
		<span>ENREGISTRER</span>
	</button>
{{ form_end(form) }}